body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
     height: 55px;
  background-image: linear-gradient(to right, rgb(188, 108, 108), rgb(133, 108, 62), rgb(155, 155, 57), rgb(123, 211, 123), rgb(88, 88, 246), rgb(172, 109, 218), rgb(215, 127, 215));
}
a.button{
    margin-left: 1000px;

}
.container {
    max-width: 800px;
    margin: 50px auto;
    text-align: center;
}

h1 {
    margin-bottom: 20px;
}

form {
    margin-bottom: 20px;
}

input[type="text"] {
    padding: 10px;
    width: 60%;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}


#movie-details {
           color: #f4f4f4;
             width: 147%;
            height: 100%;
            margin-left: -200px;
            
            border-radius:5px ;
           height: 100%;
         background-color:rgb(28, 26, 43);
            display: flex;
            flex-wrap: wrap;
            padding: 10px;
            gap: 20px;
}
