@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color: #f4f1f1;
}

header {
    position: fixed;
    
    margin-top:-31px;
    width: 100%;
    padding: 30px 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo img{
    width: 70px;
    height: 70px;
    font-size: 2em;
    cursor: pointer;
    margin-left:-50px;
    margin-top: 15px;
    border-radius: 70px;
    transition: 0.4s;
}
.logo img:hover{
     transform: translateX(90px);
   
}

.navigation {
    margin-left:90px;
}


.navigation a {
    font-size: 1.1em;
    color: #f8efef;
    text-decoration: none;
    margin-right: 40px;
    font-weight: 500;
    transition: .3s;
    
}

.navigation a:hover {
    color: #e98d0c;
    box-shadow: #43b2f3 -5px 5px;
}

.btn-talk {
    color: #fff;
    text-decoration: none;
    padding: 8px 35px;
    background: #7d2ae8;
    border-radius: 10px;
    font-weight: 500;
    transition: .3s;
}

.btn-talk:hover {
    background-color: #43b2f3;
     transform: translateX(10px);
   box-shadow: -10px 10px red;
}

.home {
    width: 100%;
    height: 100vh;
    background: url('./Images/background_color.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    padding: 30px 90px;
}

.content {
    max-width: 500px;
    color: #555;
}

.content h2 {
    font-size: 45px;
}

.content h2 span {
    color: #7d2ae8;
}

.content h2:hover{
     transform: translateX(10px);
     transition: 0.5s ease-in-out;
   
}

.content h4 {
    font-size: 2em;
}
.content h4:hover{
    transform: translateX(10px);
    transition:0.5s ease-in-out ;
}

.content p {
    padding: 10px 0 40px 0;
}
.image img{
    width: 600px;
    height: 500px;
    margin-top: 100px;
    margin-right: -60px;
    border-radius: 25px;
}
.image img:hover{
    transform: translateX(23px);
    transition: 0.5s ease-in-out;
}
.btn-group a {
    color: #fff;
    text-decoration: none;
    padding: 10px 40px;
    background: #6129aa;
    border-radius: 10px;
    border: 2px solid #cbbae1;
    font-weight: 500;
    transition: .3s;
    
}

.btn-group a:hover{
     transform: translateX(10px);
   box-shadow: -10px 10px red;
}

.btn-group a:hover:nth-child(1) {
    color: #f2eef7;
    background: rgb(105, 192, 239);
    
}

.btn-group a:nth-child(2) {
    color: #c4c1c6;
    background: transparent;
    margin-left: 30px;
    padding: 10px 30px;
}

.btn-group a:hover:nth-child(2) {
    color: #fff;
    background: #7d2ae8;
    
}

.social-icons {
    position: absolute;
    bottom: 50px;
}

.social-icons a {
    display: inline-block;
    width: 35px;
    height: 35px;
    background: #7d2ae8;
    border-radius: 50%;
    margin-right: 22px;
    text-align: center;
    line-height: 35px;
    border: 1px solid #fff;
    outline: 2px solid #7d2ae8;
    transition: .3s;
}

.social-icons a:hover {
    transform: translateY(-10px);
    rotate: -360deg;
}

.social-icons a i {
    color: #fff;
}